{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
    {{ title }} - Ory/Keto Demo
    {% else %}
    Ory/Keto Demo
    {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/demo_form">Demo</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="nav-label">Rest API: Check</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/check/app-user_support">Application: User Support</a></li>
                <li><a href="/check/attribute">Attributes</a></li>
                <li><a href="/check/groups">Groups</a></li>
                <li><a href="/check/organizations">Organizations</a></li>
                <li><a href="/check/roles">Roles</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span class="nav-label">Rest API: Expand</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/expand/app-user_support">Application: User Support</a></li>
                <li><a href="/expand/attribute">Attributes</a></li>
                <li><a href="/expand/groups">Groups</a></li>
                <li><a href="/expand/organizations">Organizations</a></li>
                <li><a href="/expand/roles">Roles</a></li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}