{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Check - {{ form.keto_namespace_name }}</h1>
<p>Use <strong>Check</strong> to get a boolean response representing if a subject has the specified permission to a subject.</p>
<button class="btn" data-toggle="collapse" data-target="#ory-keto-concepts">Ory/Keto Concepts</button>
<div id="ory-keto-concepts" class="collapse">
<h5><a href="">Ory/Keto Concepts</a></h5>
<dl class="dl-horizontal">
    <dt>Relation Tuples</dt>
    <dd>Underlying datatype of Ory/Keto access control language encoding relations between objects and subjects</dd>
    <dd><code>namespace:object#relation@subject</code></dd>
    <dt>Namespace</dt>
    <dd>Split data into coherent partitions</dd>
    <dd>Does <strong>not</strong> isolate data</dd>
    <dt>Object</dt>
    <dd>The application "thing" being protected.  (e.g. the file named awesome_idea.txt)</dd>
    <dt>Relation</dt>
    <dd>The "action" allowed by a given rule tuple. (e.g. read)</dd>
    <dt>Subject</dt>
    <dd>The entity allowed to "action" (relation) on a "thing" (object).</dd>
</dl>
<h5>Relation Tuples Example</h5>
<pre class="code">demoapp:b8d...e48#update@44a...eb
demoapp:b8d...e48#read@44a...eb
demoapp:b8d...e48#read@1c9...1e</pre>
<p>The preceding relation tuples can be read as:</p>
<ul>
    <li>The user identified by 44a...eb has read and update on the item identified by b8d...e48.</li>
    <li>The user identified by 1c9...1e only has read on the item identified by b8d...e48.</li>
</ul>
</div>
<div class="row">
    <p><strong>Namespace:</strong>  {{ form.keto_namespace }}</p>
    {{ wtf.quick_form(form) }}
    <hr style="border: 1px solid black">
</div>
{% if form.keto_relation.data %}
{% set json_response = form.get_check(form.keto_namespace, form.keto_object.data, form.keto_relation.data, form.keto_subject.data) %}
<div class="row">
    <h4>REST API Response</h4>
    <pre>{{ form.pretty(json_response) }}</pre>
</div>
{% else %}
<div class="row">
    <h4>REST API Response</h4>
    <pre></pre>
</div>
{% endif %}
{% endblock %}
