{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row bg-info" style="border: solid black 1px;padding: 1em">
    <h4>Authorization With Mock Authentication</h4>
    <p>
        Generate a <em>Manage User Account</em> form with the controls
        authorized for a user.  The generated form <strong>is not</strong>
        functional.  This demo is intended to demonstrate authorization
        scenarios, not user management.
    </p>
    <h5>How To use</h5>
    <ol>
        <li>Select user to simulate authentication</li>
        <li>Click Build Form</li>
    </ol>
    <p><strong>Suggested Users</strong>: auditorUser01, helpdeskUser01, secAdminUser01, ssoUser01</p>
    {{ wtf.quick_form(form) }}
</div>
<div class="row">
    <hr style="border: 2px solid black">
<h1>Manage User Account</h1>
</div>
{% if form.allowed(form.keto_namespace, form.keto_object, "read_demographics", form.keto_subject.data) %}
{% set can_modify_demographics = form.allowed(form.keto_namespace, form.keto_object, "update_demographics", form.keto_subject.data) %}
<div class="row">
    <h3>User Account Demographics</h3>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr><th style="width:15em">First Name</th><td>
            {% if can_modify_demographics %}
                <input type="text" value="John">
            {% else %}
                Joe
            {% endif %}
        </td></tr>
        <tr><th>Last Name</th><td>
            {% if can_modify_demographics %}
                <input type="text" value="Doe">
            {% else %}
                Doe
            {% endif %}
        </td></tr>
        <tr><th>Primary Email</th><td>
            {% if can_modify_demographics %}
                <input type="text" value="jdoe@nowhere.edu">
            {% else %}
                jdoe@nowhere.edu
            {% endif %}
        </td></tr>
        <tr><th>And so on</th><td>...</td></tr>
        </tbody>
    </table>
</div>
<div class="row"><p>Select Account Action:
    <input class="btn btn-default btn-danger" id="go_back" name="cancel" type="button" value="Cancel">
    {% for relation in form.relations_with_buttons() %}
        {% if form.allowed(form.keto_namespace, form.keto_object, relation, form.keto_subject.data) %}
            <input class="btn btn-default btn-info" id="{{ relation }}" name="{{ relation }}" type="button" value="{{ form.pretty_relation(relation) }}">
        {% endif %}
    {% endfor %}
    {% if can_modify_demographics %}
    <input class="btn btn-default btn-info" id="update_demographics" name="update_demographics" type="button" value="Update Demographics">
    {% endif %}
    </p>
</div>
{% else %}
<div class="row">
    <p class="bg-danger">You are not authorized to use this form.</p>
</div>
{% endif %}
{% endblock %}
