{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Expand - {{ form.keto_namespace_name }}</h1>
<h3>Use Ory\Keto endpoint to expand a relation tuple.</h3>
<p>Use <strong>Expand</strong> to show the directly and inherited subjects that are allowed for a relation on a subject.</p>
<button class="btn" data-toggle="collapse" data-target="#ory-keto-concepts">Ory/Keto Concepts</button>
<div id="ory-keto-concepts" class="collapse">
    <h5><a href="">Ory/Keto Concepts</a></h5>
    <dl class="dl-horizontal">
        <dt>Relation Tuples</dt>
        <dd>Underlying datatype of Ory/Keto access control language encoding relations between objects and subjects</dd>
        <dd><code>namespace:object#relation@subject</code></dd>
        <dt>Namespace</dt>
        <dd>Split data into coherent partitions</dd>
        <dd>Does <strong>not</strong> isolate data</dd>
        <dt>Object</dt>
        <dd>The application "thing" being protected.  (e.g. the file named awesome_idea.txt)</dd>
        <dt>Relation</dt>
        <dd>The "action" allowed by a given rule tuple. (e.g. read)</dd>
        <dt>Subject</dt>
        <dd>The entity allowed to "action" (relation) on a "thing" (object).</dd>
    </dl>
    <h5>Relation Tuples Example</h5>
    <pre class="code">demoapp:b8d...e48#update@44a...eb
demoapp:b8d...e48#read@44a...eb
demoapp:b8d...e48#read@1c9...1e</pre>
    <p>The preceding relation tuples can be read as:</p>
    <ul>
        <li>The user identified by 44a...eb has read and update on the item identified by b8d...e48.</li>
        <li>The user identified by 1c9...1e only has read on the item identified by b8d...e48.</li>
    </ul>
</div>
<div class="row">
    <p><strong>Namespace:</strong>  {{ form.keto_namespace }}</p>
    {{ wtf.quick_form(form) }}
</div>
<div class="row">
    <hr style="border: 1px solid black">
<h2>Subject(s)</h2>
</div>
{% if form.keto_relation.data %}
    {% set json_response = form.get_expand(form.keto_namespace, form.keto_object.data, form.keto_relation.data) %}
    {% if form.show_name_for_uuid.data %}
        <div class="row" style="background-color: lightcoral">
            <p><strong>Reminder: </strong>Names are provided by the application not Ory/Keto.  Ory/Keto <strong>only</strong> has UUIDs</p>
        </div>
        <div class="row">
            <h4>Simplified View: Names instead of UUIDs</h4>
            <ul>
                <li>{{ form.name_for_uuid(json_response["subject"]) }}
                    <ul>
                        {% for child in json_response["children"] %}
                        {% if child["type"] == "leaf" %}
                        <li>{{ form.name_for_uuid(child["subject"]) }}</li>
                        {% else %}
                        <li>{{ form.name_for_uuid(child["subject"]) }}<ul>
                            {% for subchild in child["children"] %}
                            <li>{{ form.name_for_uuid(subchild["subject"]) }}</li>
                            {% endfor %}
                        </ul></li>
                        {% endif %}
                        {% endfor %}
                    </ul></li>
            </ul>
        </div>
        <div class="row">
            <h4>Rest API Response: Names instead of UUIDs</h4>
            <pre>{{ form.for_human(json_response) }}</pre>
        </div>
    {% else %}
        <div class="row">
            <h4>Simplified View</h4>
            <ul>
                <li>{{ json_response["subject"] }}<ul>
                    {% for child in json_response["children"] %}
                    {% if child["type"] == "leaf" %}
                    <li>{{ child["subject"] }}</li>
                    {% else %}
                    <li>{{ child["subject"] }}<ul>
                        {% for subchild in child["children"] %}
                        <li>{{ subchild["subject"] }}</li>
                        {% endfor %}
                    </ul></li>
                    {% endif %}
                    {% endfor %}
                </ul></li>
            </ul>
        </div>
        <div class="row">
            <h4>REST API Response</h4>
            <pre>{{ form.pretty(json_response) }}</pre>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
