{% extends "base.html" %}

{% block content %}
<div class="row" style="padding-left: 3em;max-width: 50em">
<h1>Simple Ory/Keto Demo</h1>
<h2>Single Page Demo</h2>
<p>
    The <a href="./demo_form">Manage User Accounts</a> page simulates
    how a page is rendered for different users. Simply select a user
    and click "Build Form".  The <strong>non-functional</strong> form
    will be built based on the selected users permissions in Ory/Keto.
</p>
<h2>Ory/Keto: Check</h2>
<p>
    An application's primary interaction with Ory/Keto will be through
    the <strong>check</strong> reset API.  This is a very different
    experience than applications use today.  Instead of embedding the
    authorization logic in the application the logic is writen in rules.
    This means that instead of asking for a lot of data about the user
    the applicatin simply asks Ory/Keto "is <em>x</em> allowed to do
    <em>y</em> to <em>z</em>?".
</p>
<p>
    To make experimenting more human friendly:
</p>
<ul>
    <li>Each namespace has its own page</li>
    <li>
        Only the <strong>relation(s)</strong> and <strong>object(s)</strong>
        associated with the namespace are available
    </li>
    <li>For readability, the application shows usernames instead of UUIDs</li>
    <li>For readability, there is an option to show usernames in place of UUIDs in the REST responses</li>
</ul>
<h2>Ory/Keto: Expand</h2>
<p>
    To confirm that rules in Ory/Keto function as expected a person
    could use the Expand API.  The Expand API when given a
    <strong>namespace</strong>, <strong>subject</strong>, and
    <strong>relation</strong> will give a tree representation of which
    subjects are allowed to interact with the object in the given way.
</p>
<p>
    To make experimenting more human friendly:
</p>
<ul>
    <li>Each namespace has its own page</li>
    <li>
        Only the <strong>relation(s)</strong> and <strong>object(s)</strong>
        associated with the namespace are available
    </li>
    <li>For readability, the application shows usernames instead of UUIDs</li>
    <li>For readability, there is an option to show usernames in place of UUIDs in the REST responses</li>
</ul>
</div>
{% endblock %}